<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYE3nbDvHGxjqnqZmqBf7WrvuLnu-fI0I</string>
	<key>GCM_SENDER_ID</key>
	<string>311075413416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fieldkonnect.ksb</string>
	<key>PROJECT_ID</key>
	<string>ksb-aaroh</string>
	<key>STORAGE_BUCKET</key>
	<string>ksb-aaroh.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311075413416:ios:66caa9d30a2780a96d119d</string>
</dict>
</plist>